/*This is css for j_shop.html*/


/*start of div1*/

.c1
{
	padding-top:4px;
	padding-bottom:4px;

}
.d1
{
background-color:white;
width:100%;
height:120px;
}

.d4
{	

	background-color:lightblue;
	width:38%;
	height:30px;
	padding-top:13px;
	align:center;
	border-radius:4px;
}

.t1
{
width:100%;
height:100px;
}

.i1
{
width:90px;
height:90px;
}

.t2
{
width:100%;
height:100%;
}

.a1
{
font-size:10;
color:lightgray;
text-decoration:none;
}

.a2
{

color:brown;
background-color:silver;
text-decoration:none;
border-radius:4px;
border:solid;
border-color:silver;
border-width:3px;
padding:1px;
}

.a3
{
text-decoration:none;
}





.a2:hover
{
background-color:gray;
color:white;
border:solid;
border-color:gray;
border-width:3;
border-radius:4px;

}

.a2.p2::hover
{
display:block;
}

.a1:hover
{
background-color:lightgray;
color:black;
border:solid;
border-color:lightgray;
border-width:1;
border-radius:4px;

}

.t3
{
width:100%;
}

/*end of div1*/

/*start of div2*/


.d2
{
	width:100%;
	height:26px;
	background-color:lightblue;
	text-align:center;
}

.t4
{

	width:100%;
	color:gray;
}

.a4
{
	border:1px solid black;
	color:white;
	background-color:darkblue;
	padding-bottom:1px;
	padding-left:3px;
	padding-right:3px;
	padding-top:0.5px;
	text-decoration:none;
	border-radius:7px;
}

.a4:hover
{
	color:black;
}
.a4:active
{
	color:red;
}
/*End of div2*/
/*start of div3*/

.d3
{
	width:100%;
	height:350px;
	background-color:red;
}

/*End of div3*/



/* This is for slidershow*/

.slidershow
{	
	
	width:1500px;
	height:700px;
	overflow:hidden;
	border-radius:10px;
}
.middle{
	
	position:relative;
	
}
.navigation
{
	position:absolute;
	bottom:20px;
	left: 50%;
	transform:translatex(-50%);
	display:flex;
}
.bar{
		width:50px;
	height:10px;
	border: 2px solid gray;
	margin:6px;
	cursor:pointer;
	transition:0.4s;
}
.bar:hover
{

	background: gray;
	
}

input[name="r"]
{
	position:absolute;
	visibility:hidden;
}

.slides{
	width:500%;
	height:100%;
	display:flex;
}

.slide{
	width:20%;
	transition:0.6s;
}

.slide img{
	width:100%;
	height:100%;
}

#r1:checked ~ .s1{
	margin-left:0;
}

#r2:checked ~ .s1{
	margin-left:-20%;
}

#r3:checked ~ .s1{
	margin-left:-40%;
}

#r4:checked ~ .s1{
	margin-left:-60%;
}

#r5:checked ~ .s1{
	margin-left:-80%;
}
.i2:hover{
alarte
}

/* This is for slidershow*/


footer
{
	background-color:white;
 text-align: center;
}
.d5{
	background-color:white;
	color:lightgray;
}
.d6
{	
	display:inline;
	background-color:white; 
	height:100%;
	color:gray;
	border:1px solid red;
	width:350px;
	padding:5px;
}
input[type=text] {
  border: 0px;

}
input[type=submit] {
  border: 0px;
  border-radius:4px;

}

input[type=submit]:hover
{
	background-color:gray;
}

.d7
{
	   //position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height:23px;
   background-color: lightgray;
   color: gray;
   text-align: center;
   padding:3px;
}

/*For dropdown*/
/*
.d5
{
	//border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:1360px;
}

.d7 { 

    display: inline; 
    border: 1px solid red; 
	
    }

	#d5{
		display: inline; 
		background-color: #f2f2f2;
		padding: 20px;
		width:660px;
		height:1200px;
	}
*/

.t5
{
	
}

.td1
{
		padding:28px;
		background-color: #f2f2f2;
}

.h2
{
	color:gray;

}

.pre1
{
	color:gray;
	font-family:Century Gothic;
	font-size:18px;
}




/*Dropdown*/

.dropbtn {
color:brown;
background-color:silver;
text-decoration:none;
border-radius:4px;
border:solid;
border-color:silver;
border-width:3px;
cursor: pointer;
padding:1px;
}

.dropbtn:hover
{
background-color:gray;
color:white;
border:solid;
border-color:gray;
border-width:3;
border-radius:4px;

}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding:10px;
}
.t6:hover
{
	color:khaki;
}

.tr2
{
	text-align:left;
	
	font-size:20px;
}

.i6
{
	padding:10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.vl {
	
  border-left: 2px solid green;
  height: 80px;
}
